.hour-img-wrapper {
  height: 80px;
  position: relative;
}

.hour-image {
  position: absolute;
  max-height: 80px;
  max-width: 80px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.vertical-card {
  display: flex;
  cursor: grab;
  margin-bottom: 15px;
}

.vertical-card .temp {
  font-size: 1.5rem;
  font-family: Fredoka One;
}

.vertical-single-card {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.indiana-scroll-container {
  margin: 20px;
}

.vertical-card-skeleton {
  display: flex;
  margin-bottom: 15px;
}

.vertical-single-card-skeleton {
  width: 100px;
  height: 200px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 999px) {
  .vertical-card {
    margin-bottom: 50px;
    -webkit-overflow-scrolling: touch;
    justify-content: normal;
    padding: 20px;
  }

  .vertical-card-skeleton {
    margin-bottom: 50px;
    -webkit-overflow-scrolling: touch;
    justify-content: normal;
    padding: 20px;
  }
}
