.hour-img-wrapper{
    height: 100px;
    position: relative;
}

.hour-image {
    position: absolute;
    max-height: 100px;
    max-width: 100px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.vertical-card {
    display: flex;
    justify-content: space-evenly;
}


.vertical-card .max-temp, .vertical-card  .min-temp{
    font-size: 1.5rem;
}

.vertical-card .max-temp {
    margin-bottom: 0px;
    margin-top: 10px;
}

.vertical-card .min-temp {
    margin-top: 10px;
}

.vertical-single-card {
    width: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    background-color: #fff;
    border-radius: 20px;
}

@media only screen and  (max-width:499px) {
    .vertical-card {
        margin-bottom: 50px;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        justify-content: normal;
        padding: 20px;
    }
    
}

