.form-wrapper {
  width: 100%;
}

.search-input {
  border: none;
  border-radius: 50px;
  background: #e9ebf0;
  box-shadow: inset 4px 4px 8px #b3b5b9, inset -4px -4px 8px #ffffff;
  -webkit-box-shadow: inset 4px 4px 8px #b3b5b9, inset -4px -4px 8px #ffffff;
  padding: 10px 20px;
  width: 80%;
  margin: 30px auto;
  display: block;
}

.city-ul {
  list-style: none;
  background-color: #ffffff;
  margin: 10px 30px;
  padding: 10px;
  border-radius: 20px;
}

.city-li {
  border-radius: 20px;
}

.city-li:hover {
  background-color: #ebebeb;
}

.city-btn {
  background-color: transparent;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
}

@media only screen and (max-width: 999px) {
  .search-input {
    background: #f8f3ea;
    box-shadow: inset 4px 4px 8px #d3cfc7, inset -4px -4px 8px #ffffff;
    -webkit-box-shadow: inset 4px 4px 8px #d3cfc7, inset -4px -4px 8px #ffffff;
  }
}
