@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@500&display=swap');

body {
    
}

.App {
    display: flex;
    background-color: #E9EBF0;
}

h2 {
    font-family: Fredoka One;
    margin-left: 40px
}

.left-side {
    width: 70%;
    background-color: #F8F3EA;
    padding: 30px;
}

.right-side {
    width: 30%;
    padding: 30px;
}

.max-temp, .min-temp, .current-temp {
    font-family: Fredoka One;
    font-size: 3rem;
}

.max-temp{
color: #FF5252;
}

.min-temp {
color: #528DFF;
}

@media only screen and (max-width: 499px) {
    .App {
        flex-direction: column;
    }
    .right-side, .left-side{
        width: 100%;
        padding: 0;
    }

    h2 {
        text-align: center;
        margin: 50px 0 0 0;
    }
}
